@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "poppins";

  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Mine */

/* 040D54 */

.primary-darkblue {
  background-color: #040c54;
}

.ul_nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav_left {
  float: left;
}

.nav_left a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav_left a:hover:not(.active) {
  background-color: #1111;
}

.about-float-right {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

.border_login {
  border: solid black 1px;
  height: 524px;
  width: 852px;
  border-radius: 50px;
  padding: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.spacing-pad {
  display: flex;
  justify-content: center;
}

.title-text-login {
  font-weight: 400;
  font-size: 24px;
  font-weight: bold;
}

.white_bg_fff {
  background-color: white;
}

.input_login {
  width: 100%;
  border-radius: 10px;
  padding-left: 20px;
  border: black 1px solid;
  height: 55px;
}

/* home portal */
.Job_title_input {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 20px;
  width: 405px;
  height: 71px;
  color: black;
  font-size: 20px;
  font-weight: 500;
  border-radius: 30px;
  border: 1px solid #000;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.location_input {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 20px;
  width: 405px;
  height: 71px;
  color: black;
  font-size: 20px;
  font-weight: 500;
  border-radius: 30px;
  border: 1px solid #000;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.find_button {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #040c53;
  color: white;
}

.line-divider {
  background-color: #898989;
  margin-left: 100px;
  margin-right: 100px;
  height: 1px;
}

.recommendedSection {
  display: flex;
  justify-content: center;
}

.RecommendedForYou {
  color: #000;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-bottom: solid 3px #040c53;
  width: fit-content;
  display: flex;
  padding-bottom: 10px;
}

.grid_cotiner_3 {
  justify-content: center;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 49px;
}
.applyboxborder {
  width: auto;
  height: auto;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.title_company_apply {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 124.5%;
}

.location_apply {
  color: #1f1f1f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title_description_apply{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 9px;
}


.apply_btn_brows{
background-color: #040c53;
color: white;
border-radius: 10px;
padding: 10px 20px;
}

/* home portal end */

/* Nav Modal */
/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

/* Close button styles */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.btn_signin{
padding: 10px 20px;
justify-content: center;
align-items: center;
border-radius: 10px;
background: #040C53;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.btn_idont_have{
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration-line: underline;
}

.question{
  font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


/* Nav Modal end*/

/* Mine end */
